@model Dictionary<Guid, TimelapseInfo>
<!DOCTYPE html>
<html>
<head>
	<title>Timelapse as a Service</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<style>
		.button 
		{
			background: blue;
			height: 48px;
			width: 48px;
			display: flex;
			color: white;
			position: fixed;
			bottom: 10px;
			right: 10px;
			border-radius: 50%;
			box-shadow: 5px 5px 10px #333;
			justify-content: center;
			align-items: center;
			text-decoration: none;
			font-weight: bold;
			font-size: 1.5em;
		}

		.timelapses {
			list-style-type: none;
			display: flex;
			flex-wrap: wrap;
			padding: 0;
			margin:auto;
			justify-content: center;
		}

		.timelapses li a {
			box-sizing: content-box;
			display: block;
			margin: 5px;
			border: solid #888 1px;
			box-shadow:	2px 2px 4px #333;
			text-decoration: none;
			color: #333;
			text-align:center;
			font-size: 1.2em;
		}

		.timelapses li a img {
			display:block;
			box-sizing: content-box;
			width: 640px;
			max-width: 100%;
		}
	</style>
</head>
<body>
<ul class="timelapses">
@foreach (var timelapseKeyValuePair in Model)
{
	<li><a href="/Timelapse/@timelapseKeyValuePair.Key">@if(timelapseKeyValuePair.Value.LastNumber == -1) {
		<img src="/no-image.png" />
	} else {
		<img src="/Timelapse/@timelapseKeyValuePair.Key/@(timelapseKeyValuePair.Value.LastNumber).png" />
	}@timelapseKeyValuePair.Value.Name</a></li>
}
</ul>
<!-- bouton + -->
<a class="button" href="/Home/Create">+</a>
</body>
</html>